#displayManagementLayout {
  height: 100%;
}
$primary-color: #f4f4f4;
#displayManagementLayout > .ant-layout-header {
  background-color: $primary-color !important;
  border-bottom: solid 1px #ddd;
}
#displayManagementLayout > div > div > .ant-layout-sider {
  background-color: $primary-color !important;
}

#displayManagementLayout > .ant-layout-content {
  background-color: #f1f1f1;
}

#displayManagementLayout .display-management-content-layout {
  height: 100%;
}

#displayManagementLayout .ant-layout-content {
  padding: 5px;
  background-color: #f1f1f1;
  display: block;
}
