.media-list-container {
  height: 100%;
  background-color: #f4f4f4;
  border: 0px solid black;
  width: 250px;
  padding: 5px;
}

.group-media-list {
  padding-top: 10px;
  text-align: center;
}

.gutter-example .ant-row > div {
  background: transparent;
}
.media-gutter-box {
  padding: 5px 0;
  border: 0px solid black;
  margin-top: 5px;
  cursor: pointer;
  word-wrap: break-word;
  overflow: hidden;
  height: 60px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
