$randomColor: rgb(random(256)-1,random(256)-1,random(256)-1);

#scene-list-container .ant-layout-sider{
  background: none;
}

#drop-empty-container {
  margin: auto;
  padding-top: 20px;
  height: 20%;
  width: 20%;
  border: 1px dashed black;
  text-align: center;
}

#editor-positions {
  border: 1px solid black;
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
}

#editor-positions > div{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.editor-position {
  border: 1px solid #989898;
  color: white;
  user-select: none;
  overflow: hidden;
  text-align: center;
}

.editor-position img {
  pointer-events: none;
  user-select: none;
}

.editor-duration-container {
  //background-color: #e4e4e4;
  box-shadow: inset 0px 0px 9px -1px;
}

#editor-duration-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor-duration > div {
  height: 44px;
}

.editor-duration {
  border: 1px solid black;
  padding: 3px;
  margin-bottom: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.editor-duration button {
  vertical-align: middle;
  display: block;
}

.editor-separation-element {
  width: 100px;
  height: 44px !important;
  background-color: rgb(random(256)-1,random(256)-1,random(256)-1);
  color: white;
  user-select: none !important;
  padding-left: 2px;
  padding-top: 1px;
}

.editor-separation-element button {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.editor-separation-element li {
  font-size: 7pt;
  overflow: hidden;
  white-space: nowrap;
}

#scene-list-container .ant-tabs-content {
  height: 100%;
}

#scene-editor-form .ant-form-item {
  margin-bottom: 12px;
}
