#calendar {
  margin-top: 10px;
}

#calendar-container {
  overflow: hidden;
}

#calendar-container .ant-badge {
  font-style: italic;
  float: right;
}

#calendar-container > div {
  padding: 0 5px 5px 5px;
}

.calendar-details {
  padding-top: 5px;
  padding-bottom: 5px;
}

.calendar-details > div {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 5px;
}

.calendar-details-affix {
  text-align: right;
  font-style: italic;
}

.calendar-details .ant-row {
  margin-bottom: 5px;
}

.fc-time-grid-event.selected, .fc-day-grid-event.selected {
  border: 1px #111111 solid;
  background-color: #3a99ad;
}

#drop-empty-calendar {
  padding-top: 30px;
  opacity: 0.75;
  border: 1px dashed black;
  text-align: center;
  position: absolute;
  width: 250px;
  height: 100px;
  z-index: 300;
  left: calc(50%);
  top: 25%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px;
}
