#SideMenu {
  background: none;
}

#SideMenu.collapsed {
  .anticon {
    margin-left: 8px;
    font-size: 16px;
    vertical-align: middle;
  }
  .hidden-if-collapsed {
    display: none;
  }
  .ant-menu-submenu-title:after {
    display: none;
  }
}
